#content-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "posts";
}

#blog-articles {
    grid-area: posts;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 15px;
    padding: 15px;
}

#blog-articles article {
    border-radius: 10px;
    box-shadow: 3px 3px 7px #888;
}

#blog-articles .article-image {
    border-radius: 10px 10px 0 0;
    overflow: clip;
}

#blog-articles .article-image > img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

#blog-articles .article-body {
    padding: 15px;
}

#blog-articles h2 {
    margin: 0;
}

#blog-articles h2 > a {
    margin: 0;
    text-decoration: none;
    color: #3760a5;
}

#blog-articles p.description {
    font-size: 1.1em;
    text-indent: 2em;
}

#blog-articles footer {
    display: flex;
    margin: 0 0 5px 0;
    max-height: min-content;
}

#blog-articles footer > .author-date-section {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#blog-articles .author-date-section > p {
    margin: 0;
}

#blog-articles footer > .link-section {
    display: inline-block;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: right;
}

#blog-articles .link-section > p {
    margin: 0;
}

#blog-articles .link-section > p > a {
    background-color: #3760a5;
    color: #fafafa;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888;
    padding: 5px 15px;
    text-decoration: none;
    transition: .3s;
}

#blog-articles .link-section > p > a:hover {
    opacity: 0.7;
}

#month-list-bar {
    display: none;
}

@media (min-width:600px) {
    #content-index {
        display: grid;
        grid-template-columns: auto 240px;
        grid-template-rows: auto;
        grid-template-areas: "posts month-bar";
    }

    #blog-articles {
        padding: 15px 0 15px 15px;
    }

    #month-list-bar {
        grid-area: month-bar;
        display: inline-block;
        border-radius: 10px;
        box-shadow: 3px 3px 7px #888;
        margin: 15px;
        padding: 15px 35px;
        text-align: left;
        font-size: 1.1em;
    }

    #month-list-bar .year-list {
        list-style-type: none;
        padding: 0;
    }

    #month-list-bar .month-list {
        list-style-type: none;
        padding: 0 0 0 15px;
    }

    #month-list-bar a {
        text-decoration: none;
    }
}

@media (min-width:900px) {
    #content-index {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 840px) 240px 1fr;
        grid-template-rows: auto;
        grid-template-areas: ". posts month-bar .";
    }

    #blog-articles {
        flex-flow: row wrap;
        justify-content: flex-end;
        padding: 15px 0;
    }

    #blog-articles article {
        max-width: 48%;
    }
}
