@import './index.css';

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #fafafa;
    color: #4b505b;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto max-content auto auto;
    grid-template-areas:
    "header"
    "content"
    "navbar"
    "footer";
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    background-color: #eef1f4;
    gap: 15px;
    margin: 0;
    padding: 15px;
    font-size: 1.2em;
}

.nav-button {
    background-color: #dde2e7;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888;
    color: #4b505b;
    float: left;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}

.nav-button.active {
    background-color: #608e32;
    color: #eef1f4;
    font-weight: 600;
}

.nav-button:hover {
    background-color: #5079be;
    color: #eef1f4;
}

.blog-header {
    grid-area: header;
    text-align: center;
    background-color: #eef1f4;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    background-color: #eef1f4;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    display: inline-block;
    padding-right: 10px;
}

.footer a {
    text-decoration: none;
}

.footer #copyright {
    flex-grow: 1;
    text-align: right;
}

@media (min-width:600px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto max-content auto;
        grid-template-areas:
        "navbar"
        "header"
        "content"
        "footer";
    }

    .navbar {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0;
        gap: 0;
        padding: 0;
        background-color: #dde2e7;
    }

    .nav-button {
        border-radius: 0;
        box-shadow: none;
        padding: 15px;
    }
}
