body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #fafafa;
    color: #4b505b;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "main"
    "posts"
    "navbar"
    "footer";
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    background-color: #eef1f4;
    gap: 15px;
    margin: 0;
    padding: 15px;
    font-size: 1.2em;
}

.nav-button {
    background-color: #dde2e7;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888;
    color: #4b505b;
    float: left;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}

.nav-button.active {
    background-color: #608e32;
    color: #eef1f4;
    font-weight: 600;
}

.nav-button:hover {
    background-color: #5079be;
    color: #eef1f4;
}

.blog-header {
    grid-area: main;
    text-align: center;
    background-color: #eef1f4;
}

.blog-articles {
    grid-area: posts;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 15px;
    padding: 15px;
}

.blog-articles article {
    border-radius: 10px;
    box-shadow: 3px 3px 7px #888;
    padding: 15px;
}

.blog-articles h2 {
    margin: 0;
}

.blog-articles p.description {
    font-size: 1.1em;
    text-indent: 2em;
}

.blog-articles footer > p {
    text-align: right;
    margin: 0;
}

.month-list-bar {
    display: none;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    background-color: #eef1f4;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    display: inline-block;
    padding-right: 10px;
}

.footer a {
    text-decoration: none;
}

.footer #copyright {
    flex-grow: 1;
    text-align: right;
}

@media (min-width:600px) {
    .container {
        display: grid;
        grid-template-columns: auto 240px;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "navbar navbar"
        "main main"
        "posts month-bar"
        "footer footer";
    }

    .navbar {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0;
        gap: 0;
        padding: 0;
        background-color: #dde2e7;
    }

    .nav-button {
        border-radius: 0;
        box-shadow: none;
        padding: 15px;
    }

    .blog-articles {
        padding-right: 0px;
    }

    .month-list-bar {
        grid-area: month-bar;
        display: inline-block;
        border-radius: 10px;
        box-shadow: 3px 3px 7px #888;
        margin: 15px;
        padding: 15px 35px;
        text-align: left;
        font-size: 1.1em;
    }

    .month-list-bar .year-list {
        list-style-type: none;
        padding: 0;
    }

    .month-list-bar .month-list {
        list-style-type: none;
        padding: 0 0 0 15px;
    }

    .month-list-bar a {
        text-decoration: none;
    }
}

@media (min-width:900px) {
    .container {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 840px) 240px 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "navbar navbar navbar navbar"
        "main main main main"
        ". posts month-bar ."
        "footer footer footer footer";
    }
}
